.week-loading {
    padding: 1.5em;
    text-align: center;
}

.week-wrapper {
    width: 100vw;
    overflow: scroll;
}

.days-list {
    display: flex;
    list-style: none;
}

/* hack to get the last day some space on the end of scroller */
.days-list:after {
    content: '';
    display: block;
    padding-right: 1em;
}

.week-status {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    list-style: none;
}
