.day {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 80vw;
    text-align: center;
}

.today {
    background-color: #f0f0f0;
}

.day h3 {
    font-size: 2em;
}

.day-date {
    margin-bottom: 1.5em;
    color: #333;
}

.day-fieldset {
    border: none;
    padding: 0;
}

.day-legend {
    display: none;
}

.day-checkboxes {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1em;
    margin-bottom: 1.5em;
}
