.daystatus {
    background-color: var(--color-light-grey);
    border-radius: 50%;
    display: flex;
    height: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: relative;
}

.daystatus::before,
.daystatus::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: var(--color-light-grey);
}

.daystatus::after {
    left: auto;
    right: 0;
}

.daystatus.daystatus-noChocolate-done::before,
.daystatus.daystatus-stretching-done::after {
    background-color: var(--color-green);
}

.daystatus-saved::before,
.daystatus-saved::after {
    background-color: var(--color-dark-grey);
}

.daystatus span {
    position: relative;
    z-index: 1;
}
