#menu {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    transition: grid-template-rows 0.2s;
    grid-template-rows: min-content 0fr;
    min-height: 60px;
}

#menu.menu-expanded {
    grid-template-rows: min-content 1fr;
}

#menu ul {
    background-color: #282c34;
    overflow: hidden;
}

#menu ul li {
    display: block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #333;
}

#menu-button {
    text-transform: uppercase;
}

#menu-signout {
    padding: 0;
}

#menu-button,
#menu-signout {
    color: white;
}

#menu-button:hover,
#menu-signout:hover {
    text-decoration: underline;
}
