#menu {
    position: absolute;
    top: 0;
    right: 20px;
    display: grid;
    transition: grid-template-rows 0.2s;
    grid-template-rows: min-content 0fr;
    min-height: 60px;
}

#menu.menu-expanded {
    grid-template-rows: min-content 1fr;
}

#menu ul {
    background-color: var(--color-header);
    overflow: hidden;
}

#menu ul li {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid var(--color-light-grey);
}

#menu-button {
    justify-self: end;
    margin-top: 5px;
    text-transform: uppercase;
}

#menu-signout {
    padding: 0;
}

#menu-button,
#menu-signout {
    color: #fff;
}

#menu-button:hover,
#menu-signout:hover {
    text-decoration: underline;
}
